body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#f4c4c4, #fc6767);
    font-family: 'Arial', sans-serif;
}